@{
    ViewBag.Title = "Home Page";
}

@using LibrarySite.BusinessLogic.Models
@model List<Book>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        @foreach (var book in Model)
        {
            <div class="row bookCard">
                <div class="col-md-8">
                    @if (book.BorrowedBy != null)
                    {
                        <h5>Book borrowed by: <strong style="color: red">@book.BorrowedBy.FullName</strong></h5>
                    }
                    <h4>@book.Title</h4>

                    <p>@book.Description</p>
                    @Html.ActionLink("Details", "Details", new { id = book.Id }, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-4">
                    <p class="bookAuthor">@book.Author</p>
                    <p>@book.PublishDate.ToString("MM/dd/yyyy")</p>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
    </div>
</div>